@font-face {
  font-family: 'TTLakes';
  src: url('../fonts/TTLakes-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: 'TTLakes';
  min-width: 320px;
  
  overflow-x: hidden;
  margin: 0;
}



main {
  background-color: $bodyWhite;
}

.main__hr_highlight {
  width: 4px;
  height: 40px;
  border: 0;
  background: $turq;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  border-radius: 10px 0% 0% 10px;
  margin-left: 0px;
  margin-top: 0px;
  flex: 0 0 4px;
  
}

.active-string {
  content: '';
  opacity: 1;
  position: absolute;
  width: 4px;
  height: 30px;
  border: 0;
  background: $turq;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  border-radius: 10px 0% 0% 10px;
  margin-left: -16px;
  margin-top: -3px;
}

.main__article_container {
  display: flex;
  padding-top: 24px;
  
  height: 40px;
  justify-content: space-between;
}

.main__article_hr_text_container {
  display: flex;
}

.main__article__text {
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6px;
  color: $black;
  font-weight: bold;
  width: 288px;
  height: 40px;
  margin-left: 12px;
  margin-top: 0px;
  vertical-align: center;
}

.main__article_button_container {
  display: none;
  white-space: nowrap;
  text-decoration: none;
}

.main__article_button_container a {
  color: $black;
  font-weight: 500;
  white-space: nowrap;
  text-decoration: none;
}

.article__button_container {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 40px;
}

.button__container_a_text {
  margin-right: 8px;
  padding-right: 50px;
}



br {
  margin-top: 28px;
}

.main__p_text {
  min-width: 288px;
  max-width: 540px;
  max-height: 90px;
  overflow: hidden;
  margin-left: 16px;
  margin-right: 16px;
  padding: 0px;
  font-size: 14px;
  line-height: 18px;
  transition: 0.3s;
}



.text {
  max-height: 0px;
  transition: 0.3s;
}

.main__p_second {
  min-width: 288px;
  max-width: 540px;
  max-height: 90px;
  overflow: hidden;
  margin-left: 16px;
  margin-right: 16px;
  padding: 0px;
  font-size: 14px;
  line-height: 18px;
}



.main__button_text {
  
  font-size: 16px;
  line-height: 24px;
  color: $black;
  padding-left: 16px;
  font-weight: 700;
}

/*main text end*/

/*main img begin*/

.main__img {
  margin-top: 16px;
    object-fit: cover;
  object-position: bottom;
  content: url(../img/_MG_3223.svg);
}

/*main img end*/

.gradient,
.gradient_second,
.gradient_third {
  width: 40px;
  height: 66%;
  position: absolute;
  z-index: 4;
  background: linear-gradient(90deg, rgba(255,255,255,0) 58%, rgba(255,255,255,0.969625350140056) 86%, rgba(255,255,255,1) 100%);
  right: 0;
  display: none;
}
.gradient_second {
  width: 40px;
  height: 161px;
}
.gradient_third {
  width: 60px;
  height: 200px;
}

.title-page {
  
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  color: #7e7e82;
  padding: 16px;
  margin-bottom: 32px;
  border-top: 1px solid $line;
  background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.969625350140056) 99%, rgba(255,255,255,1) 100%);
}

.link_container {
  
  margin-left: 16px;
  padding-bottom: 40px;
  font-weight: bold;
  
  
}

.getCommercial {
color: $black;
text-decoration: none;
display: block;
}

.arrow {
  display: inline-block;
  /* background-color: $pinkBtn; */
  width: 10px;
  height: 10px;
  position: relative;
  border-top: 3px solid $pinkBtn;
  border-right: 3px solid $pinkBtn;
  transform: rotate(45deg);
}

.services-header {
  max-width: 1056px;
  min-width: 500px;
  display: flex;
  margin-left: 40px;
  font-size: 14px;
  color: $grey;
  justify-content: space-between;
}

.services-header p:nth-child(1) {
  max-width: 470px;
  min-width: 372px;
  flex-basis: auto;
}
.services-header p:nth-child(2) {
  max-width: 127px;
  min-width: 96px;
  flex-basis: auto;
}
.services-header p:nth-child(3) {
  max-width: 367px;
  min-width: 260px;
  flex-basis: auto;
}


.body__container {
  display: flex;
  
}
.container__content {
max-width: 1440px;
min-width: 320px;
justify-content: space-between;

}
