@font-face {
  font-family: 'TTLakes';
  src: url('../fonts/TTLakes-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: 'TTLakes';
  min-width: 320px;
  overflow-x: hidden;
  margin: 0;
}

header {
  border-bottom: 1px solid $turq;
}

main {
  background-color: $bodyWhite;
}

.main__hr_highlight {
  width: 4px;
  height: 40px;
  border: 0;
  background: $turq;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  border-radius: 10px 0% 0% 10px;
  margin-left: 0px;
  margin-top: 0px;
  flex: 0 0 4px;
}

.active-string {
  content: '';
  opacity: 1;
  position: absolute;
  width: 4px;
  height: 30px;
  border: 0;
  background: $turq;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  border-radius: 10px 0% 0% 10px;
  margin-left: -16px;
  margin-top: -3px;
}

.main__article_container {
  display: flex;
  padding-top: 24px;
  height: 40px;
  justify-content: space-between;
}

.main__article_hr_text_container {
  display: flex;
}

.main__article__text {
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6px;
  color: $black;
  font-weight: bold;
  width: 288px;
  height: 40px;
  margin-left: 12px;
  margin-top: 0px;
  vertical-align: center;
}

.main__article_button_container {
  display: none;
  white-space: nowrap;
  text-decoration: none;
}

.main__article_button_container a {
  color: $black;
  font-weight: 500;
  white-space: nowrap;
  text-decoration: none;
}

.article__button_container {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 40px;
}

.button__container_a_text {
  margin-right: 8px;
  padding-right: 50px;
}

.read-more-checker {
  /*спрятал чекер с галочкой*/
  opacity: 0;
  position: absolute;
}

br {
  margin-top: 28px;
}

.main__p_text {
  min-width: 288px;
  max-width: 540px;
  max-height: 90px;
  overflow: hidden;
  margin-left: 16px;
  margin-right: 16px;
  padding: 0px;
  font-size: 14px;
  line-height: 18px;
}

.text {
  max-height: 0px;
}

.read-more-checker:checked ~ .text {
  /*применяется для всех элементов с классом text, после перевода в статус checked элемента с классом read-more-checker*/
  max-height: none;
}

.read-more-button {
  margin-top: 16px;
  margin-left: 24px;
}

.main__button_text {
  font-size: 16px;
  line-height: 24px;
  color: $black;
  padding-left: 16px;
  font-weight: 500;
}

/*main text end*/

/*main img begin*/

.main__img img {
  width: 100%;
  object-fit: cover;
  object-position: bottom;
}

/*main img end*/

.gradient {
  width: 40px;
  height: 72px;
  position: absolute;
  z-index: 3;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 70%,
    rgba(255, 255, 255, 1) 100%
  );
  right: 0;
  top: 0;
  display: none;
}

.title-page {
  font-family: 'TT Lakes';
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  color: #7e7e82;
  padding: 16px;
  margin-bottom: 32px;
}
