#lenovo {
  background-image: url(../img/logo/Lenovo.svg);
}

#bosch {
  background-image: url(../img/logo/Bosch.svg);
}

#acer {
  background-image: url(../img/logo/Acer.svg);
}

#apple {
  background-image: url(../img/logo/Apple.svg);
}

#hp {
  background-image: url(../img/logo/HP.svg);
}

#samsung {
  background-image: url(../img/logo/Samsung.svg);
}

#sony {
  background-image: url(../img/logo/Sony.svg);
}

#viewSonic {
  background-image: url(../img/logo/ViewSonic.svg);
}
