/*menu begin*/

.main__nav {
  display: flex;
  overflow: auto;
  padding: 32px 0 32px 16px;
}

.main__nav::-webkit-scrollbar {
  display: none;
}

.main__nav_text {
  font-size: 16px;
  line-height: 24px;
}

.main__nav a {
  color: $grey;
  text-align: start;
  
  border-radius: 6px;
  padding: 8px 9.3px 8px 16.54px;
  border-bottom: 0px;
  margin: 0px;
  
  transition: 0.5s;
  white-space: nowrap;
  text-decoration: none;
}

.main__nav a:active,
.main__nav a:focus {
  outline: 2px solid $turq;
  background-color: $white;
}

/*menu end*/
